<h1>Register User</h1>
<form method="POST">
    {% csrf_token%}
    <label>{{form.username.label}}</label>
    {{form.username}}
    <br>
    <label>{{form.full_name.label}}</label>
    {{form.full_name}}
    <br>
    <label>{{form.email.label}}</label>
    {{form.email}}
    <br>
    <label>{{form.password1.label}}</label>
    {{form.password1}}
    <br>
    <label>{{form.password2.label}}</label>
    {{form.password2}}
    <br>
    <input type="submit" value="Register">
</form>
<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>