{% extends 'users/base.html' %}
{% block content %}
<ol>
{% for teamx in teams %}
    <li>{{teamx.team_name}}:- {{teamx.description}}
        {% if request.user.is_staff or request.user.is_lead %}
        <a href="{% url 'add-members' teamx.id %}">Edit Member</a> 
        <a href="{% url 'update-team' teamx.id %}">Edit Team Info</a> 
        {% elif request.user.is_staff %}
        <a href="{% url 'delete-team' teamx.id %}">Delete Team</a>
        {% endif %}
    </li>
{% endfor %}
</ol>
{% endblock content %}
